<!DOCTYPE html>
{% load django_bootstrap5 %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>KalambetBlog</title>
    {% bootstrap_css %}
</head>
<body>
    {% block header %}
        <header class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Главная</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link disabled">Привет, {{ user.username }}!</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'blogs:create_post' %}">Добавить пост</a>
                    </li>
                    <li class="nav-item">
                        <form id="logout-form" action="{% url 'users:logout' %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-outline-dark" type="submit">Выйти</button>
                        </form>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:register' %}">Регистрация</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

        </header>
    {% endblock %}

    <main role="main">
        {% block content %}
        {% endblock %}
    </main>
{% bootstrap_javascript %}
</body>
</html>