{% extends 'blogs/base.html' %}

{% block content %}
<div class="container">
    <h1>Посты</h1>
    <ul class="list-group list-group-flush">
        {% if posts %}
            {% for post in posts %}
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <h2 class="fw-bold">{{ post.title }}</h2>
                        <small class="text-muted">@{{ post.owner }}, {{ post.date_added }}</small>
                        <p class="mb-1">{{ post.text|truncatewords:20 }}</p>
                        {% if request.user == post.owner %}
                            <small><a class="nav-link" href="{% url 'blogs:edit_post' post.id %}">Изменить</a></small>
                        {% else %}
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item">Нет записей</li>
        {% endif %}
    </ul>
</div>
{% endblock %}